
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.frame {
  margin: 1mm;
}

#grid {
  margin-top: 1mm;
}

#palette {
  margin-top: 2mm;
}

.palette {
  border-collapse: collapse;
}

.paletteCell {
  width: 12mm;
  height: 12mm;
  padding: 0;
  border: 0;
  outline:solid;
  outline-width: 0;
  -webkit-transition: outline-width .1s;
}

.paletteCellSelected {
  outline-width: 2mm;
}



